[submodule "plugin-babel"]
	path = plugin-babel
	url = git@github.com:virtualcodewarrior/plugin-babel.git
[submodule "plugin-typescript"]
	path = plugin-typescript
	url = git@github.com:virtualcodewarrior/plugin-typescript.git
[submodule "plugin-traceur"]
	path = plugin-traceur
	url = git@github.com:virtualcodewarrior/plugin-traceur.git
[submodule "systemjs-plugin-html"]
	path = systemjs-plugin-html
	url = git@github.com:virtualcodewarrior/systemjs-plugin-html.git