version = 0.1

default-task = 'build'

extensions = [
  'chomp@0.1:npm',
  'chomp@0.1:footprint',
  './terser.js',
  'chomp@0.1:rollup',
  'chomp@0.1:ncc'
]

[[task]]
name = 'build'
deps = ['dist/system.js', 'dist/system.min.js', 'dist/s.js', 'dist/s.min.js', 'dist/system-node.cjs', 'dist/extras/*.js']

[[task]]
target = 'dist/system.js'
deps = ['src/system.js', 'src/system-core.js', 'src/common.js', 'src/err-msg.js', 'src/features/*.js']
template = 'rollup'
[task.template-options]
onwarn = false
[task.template-options.output]
banner = '''/*!
 * SystemJS #PJSON_VERSION
 */'''
format = 'iife'
strict = false
[[task.template-options.plugin]]
package = '@rollup/plugin-replace'
"process.env.SYSTEM_PRODUCTION" = 'false'
"process.env.SYSTEM_BROWSER" = 'true'

[[task]]
target = 'dist/s.js'
deps = ['src/s.js', 'src/system-core.js', 'src/common.js', 'src/err-msg.js', 'src/features/*.js']
template = 'rollup'
[task.template-options]
onwarn = false
[task.template-options.output]
banner = '''/*!
 * SJS #PJSON_VERSION
 */'''
format = 'iife'
strict = false
[[task.template-options.plugin]]
package = '@rollup/plugin-replace'
"process.env.SYSTEM_PRODUCTION" = 'true'
"process.env.SYSTEM_BROWSER" = 'true'

[[task]]
deps = ['src/extras/#.js', 'src/common.js', 'src/err-msg.js', 'src/features/*.js']
target = 'dist/extras/#.js'
template = 'rollup'
[task.template-options]
onwarn = false
[task.template-options.output]
format = 'iife'
strict = false
[[task.template-options.plugin]]
package = '@rollup/plugin-replace'
"process.env.SYSTEM_PRODUCTION" = 'false'
"process.env.SYSTEM_BROWSER" = 'true'

[[task]]
target = 'dist/##.min.js'
dep = 'dist/##.js'
template = 'terser'
[task.template-options]
source-map = true
ecma = 5
keep_classnames = false
keep_fnames = false
safari10 = true
toplevel = true
[task.template-options.mangle]
eval = true
[task.template-options.compress]
arguments = true
hoist_funs = true
keep_fargs = false
pure_getters = true
passes = 2
unsafe = false

[[task]]
target = 'dist/system-node.cjs'
deps = ['src/system-node.js', 'package.json', 'src/system-core.js', 'src/common.js', 'src/err-msg.js', 'src/features/*.js']
template = 'ncc'
[task.template-options]
assets = false
esm = false

[[task]]
name = 'footprint'
template = 'footprint'
deps = ['dist/system.min.js', 'dist/s.min.js']

[[task]]
name = 'test'
deps = ['test:browser', 'test:internal', 'test:node']

[[task]]
name = 'test:browser:watch'
deps = ['dist/system.js', 'dist/extras/*.js', 'npm:install']
env = { WATCH_MODE = 'true' }
run = 'node test/server.mjs'

[[task]]
name = 'test:browser'
deps = ['dist/system.js', 'dist/extras/*.js', 'npm:install']
run = 'node test/server.mjs'

[[task]]
name = 'test:internal'
dep = 'npm:install'
env = { NODE_OPTIONS = '--unhandled-rejections=none' }
run = 'mocha -b test/import-map.mjs test/system-core.mjs test/url-resolution.mjs'

[[task]]
name = 'test:node'
deps = ['dist/system-node.cjs', 'npm:install']
run = 'mocha --timeout 5000 -b test/system-node.mjs'
